.todo {
  text-align: center;
  margin-left: 0px;
  
}
.aligned {
  display:flex;
  align-items:center;
  margin-left: 0px;
}
.done{
  text-decoration: line-through;
  font-size: 16px;
}
.noCheckDone{
  margin-left: 25px;
}